# ==============================================================================
# BACKEND ENVIRONMENT VARIABLES TEMPLATE
# ==============================================================================

PORT=5000
FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_APP_BASE_URL=http://localhost:3000

# Cloudflare D1
D1_DATABASE_NAME=jira-db

# Appwrite Configuration (Optional)
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT=
NEXT_APPWRITE_KEY=f8178928-9d89-4d25-ab87-8a297146658f
NEXT_PUBLIC_APPWRITE_DATABASE_ID=jira_db
NEXT_PUBLIC_APPWRITE_WORKSPACES_ID=
NEXT_PUBLIC_APPWRITE_MEMBERS_ID=
NEXT_PUBLIC_APPWRITE_PROJECTS_ID=
NEXT_PUBLIC_APPWRITE_TASKS_ID=
NEXT_PUBLIC_APPWRITE_IMAGES_BUCKET_ID=

# SMTP Mail Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=navithajune06@gmail.com
SMTP_PASS=epmoebutojwwicnf
SMTP_FROM="klanservicehub" <navithajune06@gmail.com>
